/* variables */
.blue {
  --text-main: rgb(250, 250, 250);
  --text-secondary: #fff;
  --text-faded: rgba(250, 250, 250, .5);
  --bg-main: #042241;
  --bg-header: #042241;
}

.dark {
  --text-main: #babbbd;
  --text-secondary: #C9D1D9;
  --text-faded: #babbbd80;
  --bg-main: #0D1117;
  --bg-header: #161B22;
}

.light {
  --text-main: #0D1117;
  --text-secondary: #161B22;
  --text-faded: #0D111790;
  --bg-main: #fafafa;
  --bg-header: #e4e4e4;
}

/* :root {
  --text-main: rgb(250, 250, 250);
  --text-secondary: #fff;
  --text-faded: rgba(250, 250, 250, .5);
  --bg-main: #042241;
  --bg-header: #042241;
} */


/* RESET */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}


/* SET UP */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  position: relative;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  letter-spacing: 1.5px;
  background-color: var(--bg-main);
  color: var(--text-main);
}



a:link, a:visited {
  text-decoration: none;
  color: var(--text-main);
}

ul {
  list-style-type: none;
}

.list {
  list-style-type: disc;
}

p{
  max-width: 50ch;
}

img {
  max-width: 100%;
}

.about, .projects, .contact {
  padding: 7.5rem 0;
}

.btn {
  display: block;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  border: 2px solid var(--text-faded);
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--text-faded);
  color: var(--bg-main);
}

.container{
  max-width: 1700px;
  margin: 0 auto;
}

.section-container {
  width: 75%;
  margin: 0 auto;
}

.grid-span-all {
  grid-column: 1/-1;
}

.flex {
  display: flex;
}
.f-justify-center {
  justify-content: center;
}

.f-align-center {
  align-items: center;
}

.f-column {
  flex-direction: column;
}


/* HEADER STYLES */

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--bg-header);
  padding: 2rem 0;
}

.nav {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header a:link,
.header a:visited {
  color: var(--text-faded);
  transition: all 0.2s ease-in-out;
}

.header a:hover {
  color: var(--text-secondary);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  background-color: var(--bg-main);
  border-radius: 50%;
  margin-right: 1rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.logo-name {
  font-weight: 700;
  font-size: 2.4rem;
}

.nav-main {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-list-item {
  font-weight: 700;
  font-size: 1.6rem;
  margin-right: 4rem;
}

.nav-list-item:last-child {
  margin-right: 0;
}

/* MAIN STYLES */
#main {
  position: relative;
}

/* HERO SECTION */

#hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  font-size: 4.8rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.hero-text {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  color: var(--text-faded)
}

.hero-text li {
  margin-bottom: 1.2rem;
}

.hero-btn {
  background-color: var(--bg-header);
  color: var(--text-secondary);
  font-weight: 600;
  font-size: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}


/***************************
PROJECTS SECTION
***************************/

/* VIDEO POP UP */

.test {
  position: fixed;
  width: 90%;
  height: 85vh;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .1);
}

.pop-up-container {
  width: 90%;
  height: 75vh;
  background-color: red;
  
}


.tv-projects-text {
  max-width: 80ch;
  margin-bottom: 4rem;
}

.tv-projects-card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
}

.tv-project-card {
  background-color: var(--bg-header);
  border-radius: 10px;
  max-width: 40rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.card-content {
  padding: 1rem;
}

.tv-project-card-clip {
  width: 75%;
}

/***************************
FOOTER SECTION
***************************/
.footer {
  padding: 3rem 0;
  background-color: var(--bg-header);
}

.footer, .footer a, .footer a:visited, .footer a:link {
  color: var(--text-faded);
  transition: color .2s ease-in-out;
}

.footer a:hover {
  color: var(--text-main);
}



.social-list {
  width: 30%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.fa-brands {
  font-size: 2.4rem;
}






