/* variables */
:root {
    --text-main: #fafafa;
    --text-secondary: #333;
    --bg-main: #054686;
    --bg-header: #fff;
}

/* reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

/* set up */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--text-main);
}

body {
    font-size: 1.6em;
    position: relative;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    letter-spacing: 1.5px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    display: block;
    padding: 1rem 2.5rem;
    border-radius: 5px;
}

/* HEADER STYLES */
.header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--bg-header);
    padding: 2rem 0;
}

.nav {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav a:link,
.nav a:visited {
    color: var(--text-secondary);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-image {
    background-color: var(--bg-main);
    border-radius: 50%;
    margin-right: 1rem;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.logo-name {

    font-weight: 700;
    font-size: 2.4rem;
}

.logo-name:hover {
    color: var(--bg-main);
}

.nav-main {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-list-item {
    font-weight: 700;
    font-size: 1.6rem;
    margin-right: 4rem;
}

.nav-list-item:last-child{
    margin-right: 0;
}

/* MAIN STYLES */
#main {
    transform: translateY(10rem);
}

/* HERO SECTION */
#hero {
    color: var(--text-main);
    /* background-color: var(--bg-main); */
    background: linear-gradient(to right, rgba(5, 70, 134, 0.8), rgba(5, 70, 134, 0.8)), url(../../assets/topography.svg);
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 4.8rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.hero-text {
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

.hero-text li {
    margin-bottom: 1.2rem;
}

.hero-btn {
    background-color: var(--bg-header);
    color: var(--text-secondary);
    font-weight: 600;
    font-size: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}
