/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-light: 300;
  --font-medium: 400;
  --font-bold: 700;
  --blue-text: #86ddff;
  --dark-blue: #002b8f;
  --mid-blue: #3ba0ff;
}

html {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}


/* TYPOGRAPHY */


/* UTILITIES */


/* GENERAL STYLES */


/* NAV BAR */

#mobile-nav {
  display: none;
}

.nav-bar {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 10vh;
  background-color: rgba(100, 100, 100, 0.2);
}

.nav-bar li a {
  display: block;
  color: white;
  font-size: 1.5rem;
}

#name {
  color: var(--blue-text);
  font-size: 1.8rem;
  font-weight: var(--font-bold);
}


/* MEDIA QUERIES */
